<a href="https://colab.research.google.com/github/SriAbirami98/GUVI1/blob/main/Practice_sheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# More "For loop" practice codes

In [ ]:
# 1. Print Numbers from 1 to 10:

In [ ]:
for numbers in range(2, 12):
  print(numbers)

2
3
4
5
6
7
8
9
10
11

In [ ]:
#2. Print Even Numbers from 2 to 20:

for numbers in range(2, 21, 2):
  print(numbers)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# 3. Sum of Numbers from 1 to 100:

sum_of_number = 0
for numbers in range(1,101):
  sum_of_number += numbers
  print(sum_of_number)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [ ]:
Name = "abi "
repeated_srting = Name * 5
print(repeated_srting)

abi abi abi abi abi

In [ ]:
Title = "Hello abi, welcome to learning path!"
titlesstring = Title.title()
print(titlesstring)

Hello Abi, Welcome To Learning Path!

In [ ]:
Name = "Abirami"
Split = list(Name)
print(Split)

['A', 'b', 'i', 'r', 'a', 'm', 'i']

In [ ]:
my_string = "Python"
right_pad = my_string.rjust(10, "+")
print(right_pad)

++++Python

In [ ]:
List_of_names = ['Abi', 'sanjana', 'sangeetha']
List_of_names.append('kishor')
for  name in List_of_names:
  print(List_of_names)

['Abi', 'sanjana', 'sangeetha', 'kishor']
['Abi', 'sanjana', 'sangeetha', 'kishor']
['Abi', 'sanjana', 'sangeetha', 'kishor']
['Abi', 'sanjana', 'sangeetha', 'kishor']

In [ ]:
rcb="Winn"
if(rcb=="Win"):
  print("RCB is the best team")
else:
  print("RCB is not the best team")

RCB is not the best team

In [ ]:
Meghna=input("Died or not ")
if(Meghna=="Died"):
  print("We miss you meghna")
else:
  print("Meghna you are the best pair for surya")

Died or not Died
We miss you meghna

In [ ]:
Score=int(input("Score:"))
if(Score<34):
   print("Poor student")
elif(Score>30 and Score<75):
   print("Average student")
else:
   print("Excellent student")

Score:32
Poor student

In [ ]:
#1. Check if a number is positive, negative, or zero
#Problem:
#Write a program that checks if the given number is positive, negative, or zero.

Number=int(input("Enter a number: "))
if(Number>0):
  print("positive")
elif(Number<0):
  print("negative")
else:
  print("Zero")

Enter a number: 0
Zero

In [ ]:
#2. Check if a number is even or odd
#Problem:
#Write a program that checks if a number is even or odd.

Number=int(input("Enter the number: "))
if(Number%2==0):
  print("Even")
else:
  print("Odd")

Enter the number: 31
Odd

In [ ]:
A=int(input("A: "))
B=int(input("B: "))
Operation=input("Add,sub,mul or div: ")
if(Operation=="Add"):
  print(A+B)
elif(Operation=="sub"):
  print(A-B)
elif(Operation=="mul"):
  print(A*B)
elif(Operation=="div"):
  print(A/B)
else:
  print("invalid operation")

A: 1
B: 2
Add,sub,mul or div: Add
3

In [ ]:
Salary = int(input("Salary: "))
Age = int(input("Age: "))
if (Salary>=20000 or Age>=20):
  Loan = int(input("Loan: "))
  if (Loan>50000):
    print("Maximum Loan limit is 50000")
  else:
    print("You are eligible")
else:
  print("You are not eligible")

Salary: 21000
Age: 21
Loan: 44444
You are eligible

In [ ]:
Tamil=int(input("Tamil Score: "))
English=int(input("English Score: "))
Science=int(input("Science Score: "))
EVS=int(input("EVS Score: "))
Social=int(input("Socila Score: "))
Total=(Tamil+English+Science+EVS+Social)/5
if(Total>=35):
  print("You are good to go")
else:
  print("Need additional coaching")

Tamil Score: 45
English Score: 243
Science Score: 23
EVS Score: 32
Socila Score: 4
You are good to go

In [ ]:
#For Loop practice code

In [ ]:
for i in range(1,11):
  print(i,"X 2 =", i*2)

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

In [ ]:
number = list(range(1,11))
even_count= len([i for i in number if i%2==0])
odd_count= len([i for i in number if i%2!=0])
print(even_count)
print(odd_count)

5
5

In [ ]:
e_count=0
o_count=0
for i in range(1,11):
  if(i%2==0):
   e_count=e_count + 1
  else:
    o_count=o_count + 1
print(e_count)
print(o_count)

5
5

In [ ]:
#count the number which are divisible by 3 and 5 range 1 to 100

In [ ]:
Count=0
for i in range(1,101):
  if(i%3==0 and i%5==0):
    Count=Count + 1
    print(Count)

1
2
3
4
5
6

In [ ]:
#Sum the count of first 5 natural numbers

In [ ]:
Sum = 0
for i in range(1,6):
  Sum = Sum+i
print(Sum)

15

In [ ]:
#Sum and average a 10 random inputs

In [ ]:
a=[10,20,30,40,50,60,70,80,90,100]
b=sum(a)
c=b/10
print(b)
print(c)

550
55.0

In [ ]:
#display first 7 natural numbers

In [ ]:
sum=0
for i in range(1,8):
  sum=sum+i
print(sum)

28

In [ ]:
for i in range(1,6):
  cube=i**3
  print(f"Enter a number {i} and the cube of {i} is:{cube}")

Enter a number 1 and the cube of 1 is:1
Enter a number 2 and the cube of 2 is:8
Enter a number 3 and the cube of 3 is:27
Enter a number 4 and the cube of 4 is:64
Enter a number 5 and the cube of 5 is:125

In [ ]:
word = 'programming'
character = 'g'
count=0
for i in word:
  if i==character:
    count=+1
    print(count)

1
1

In [ ]:
vowel=["a",'e','i','o','u']
word="programming"
count=0
for character in word:
  if character not in vowel:
    count=+1
    print(count)

1
1
1
1
1
1
1
1

In [ ]:
i=10
while(i>0):
  print(i)
  i=i-1

10
9
8
7
6
5
4
3
2
1

In [ ]:

def add():
  a=int(input("enter a number: "))
  b=int(input("enter a number: "))
  print(a+b)
add()

enter a number: 1
enter a number: 2
3